.header{
  text-align: center;
  font-size: 30px;
  background-image: linear-gradient(to right, #f1e5edf5, #9e8f9af5, #695e64ee);
  border-radius: 15px 20px 10px;
  padding: 1px;
  position: relative;
  animation: slideInFromRight 3s ease-out forwards; 
}
@keyframes slideInFromRight {
  0% {
    transform: translateY(100%); /* Start off-screen to the right */
    opacity: 0; /* Start as invisible */
  }
  100% {
    transform: translateY(0); /* Move to its normal position */
    opacity: 1; /* Fully visible */
  }
}

.navbar{
  background-image: linear-gradient(to right, #f1e5edf5, #9e8f9af5, #695e64ee);
  border-radius: 50px 10px 8px;
  padding: 3px;
  margin-top: 10px;
  animation: slideInFromRight 3.1s ease-out forwards; 
  font-size: 25px;
}

.about{
  animation: slideInFromRight 3.2s ease-out forwards;
  background-image: linear-gradient(to bottom right, #f1e5edf5, #9e8f9af5, #695e64ee);
  border-radius: 50px 10px 8px;
  padding: 5px;
  margin-top: 10px;
  font-size: 25px;
}

.about h1{
  text-align: center;
}

.app{
  background-color: aliceblue;
}
